<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meivaldi.trencenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    -->
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.relawan.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QR_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.super_admin.Dashboard_SuperAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeUsername"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProgramKerja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailProgram"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.relawan.InputRelawan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pendukung.InputPendukung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.Tim_Pemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.ProgramKerja_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.DetailProgram_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pendukung.Pendukung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.caleg.DataCaleg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.InputTimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KirimPesan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailPesan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.DetailOutbox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailBerita"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanQR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogistikActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailLogistik"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanLogistik"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.caleg.DetailCaleg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VisiMisi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Platform"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Penghargaan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailVisiMisi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailPlatform"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailPenghargaan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanKartu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DaftarRelawan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DaftarPendukung"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.DetailLayanan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LayananActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.DetailLayanan_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.caleg.Caleg" />
        <activity android:name=".activity.Berita" />
        <activity android:name=".activity.Partnership" />
        <activity android:name=".activity.DetailPartnership"></activity>
    </application>

</manifest>