<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meivaldi.trencenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.relawan.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QR_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.super_admin.Dashboard_SuperAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeUsername"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProgramKerja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailProgram"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.relawan.InputRelawan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pendukung.InputPendukung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tim_pemenangan.Tim_Pemenangan"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.tim_pemenangan.ProgramKerja_TimPemenangan" />
        <activity android:name=".activity.tim_pemenangan.DetailProgram_TimPemenangan" />
        <activity android:name=".activity.pendukung.Pendukung" />
        <activity android:name=".activity.caleg.DataCaleg"></activity>
    </application>

</manifest>