<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tren.trencenter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    -->
    <application
        android:name="com.tren.trencenter.app.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tren.trencenter.activity.relawan.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tren.trencenter.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.QR_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.super_admin.Dashboard_SuperAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ChangeUsername"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ProgramKerja"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailProgram"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.relawan.InputRelawan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.pendukung.InputPendukung"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.Tim_Pemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.ProgramKerja_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.DetailProgram_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.pendukung.Pendukung"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.caleg.DataCaleg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.InputTimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.KirimPesan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailPesan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.DetailOutbox"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailBerita"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ScanQR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.LogistikActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailLogistik"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ScanLogistik"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.caleg.DetailCaleg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.VisiMisi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.Platform"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.Penghargaan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailVisiMisi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailPlatformAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailPenghargaan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.ScanKartu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailUser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DaftarRelawan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DaftarPendukung"
            android:screenOrientation="portrait" />

        <service android:name="com.tren.trencenter.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.tren.trencenter.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.tren.trencenter.activity.DetailLayanan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.LayananActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.tim_pemenangan.DetailLayanan_TimPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.caleg.Caleg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.Berita"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.Partnership"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailPartnership"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DaftarPemenangan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.VisiMisiAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailCalegAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.EditData"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.EditVisiMisi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tren.trencenter.activity.DetailPlatform"
            android:screenOrientation="portrait" />
        <activity android:name="com.tren.trencenter.activity.EditPlatform" />
        <activity android:name="com.tren.trencenter.activity.DetailPenghargaanAdmin" />
        <activity android:name="com.tren.trencenter.activity.EditPenghargaan" />
        <activity android:name="com.tren.trencenter.activity.ProfilePicture" />
        <activity android:name="com.tren.trencenter.activity.Update" />
        <activity android:name="com.tren.trencenter.activity.ChangePhone" />
        <activity android:name="com.tren.trencenter.activity.TambahPenghargaan" />
        <activity android:name="com.tren.trencenter.activity.DetailVisiMisiAdmin" />
        <activity android:name="com.tren.trencenter.activity.TambahMisi" />
        <activity android:name="com.tren.trencenter.activity.TambahPlatform"></activity>
    </application>

</manifest>